body {
  font-family: 'Christmas ScriptC', Arial, sans-serif;
  background-image: url('photo/36.png');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #051149;
}

.left-side-element {
  top: 0;
  left: 0;
  max-width: 200px;
  z-index: 10;
}

.right-side-element {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 200px;
  z-index: 10;
}

.content {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px; /* Space for the right-side element */
}

.container {
  font-family: 'The Mumbai Sticker Demo Shadow', cursive;
  background-color: transparent;
  padding: 0px;
  border-radius: 10px;
  margin-top: -150px;
}

.text_1 {
  font-family: 'Christmas ScriptC', cursive;
  color: #051149;
  font-weight: bold;
}

.text_2 {
  font-family: 'Christmas ScriptC';
  color: #051149;
}
